.settings-page-container {
	display: flex;
	padding: 1rem 2rem;
	border: 1px solid black;
	border-radius: 1rem;
	background-color: rgba(255, 255, 255, 0.4);
	flex-direction: column;
	justify-items: center;
}
.settings-page-item {
	margin: 0.5rem 0 !important;
}
.camera-svg {
	display: block;
	transition-duration: 100ms;
	height: 1.8rem;
	width: 1.8rem;
	margin: 1rem auto;
	cursor: pointer;
}

.camera-svg:hover {
	transform: scale(1.6);
}
.camera-svg:active {
	transform: scale(0.9);
}

.dropdown {
	background-color: rgba(255, 255, 255, 0.94);
	/* whi */
	position: absolute;
}

.settings-btn {
	align-self: center;
	position: relative;
}

.dropdown {
	z-index: 10;
	position: absolute;
	right: 1rem;
	min-width: 15rem;
	border: 1px solid gray;
}
.dropdown > * {
	padding: 1rem;
	border-bottom: 1px solid black;
}
.dropdown::before {
	content: '';
	position: absolute;
	top: -1rem;
	right: 0;
	height: 0rem;
	width: 0rem;
	border-left: 0.5rem solid transparent;
	border-bottom: 1rem solid black;
	border-right: 0.5rem solid transparent;
}
